Importing the Dependeincies

In [5]:
 import numpy as np
 #numpy is usefull to making arrays 
 import pandas as pd
 from sklearn.model_selection import train_test_split
 # train_test_split fuction allows to split data into training data and test dataa
 from sklearn.linear_model import LogisticRegression
 from sklearn.metrics import accuracy_score
 #accuracy_score model will help to check the accuracy of model

In [14]:
#loading the dataset to a Pandas Dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv.zip')

In [7]:

#first 5 rows of the dataset
credit_card_data.head()

NameError: ignored

In [15]:
#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [11]:
  #last five rows of data
  cradit_cad_data.tail()

NameError: ignored

In [16]:
# last five rows of data
  credit_card_data.tail()

IndentationError: ignored

In [18]:
# last five rows of data
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [19]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [20]:
# checking the no. of missing values in each column
credit_card_data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of          Time     V1     V2     V3     V4     V5     V6     V7     V8     V9  \
0       False  False  False  False  False  False  False  False  False  False
1       False  False  False  False  False  False  False  False  False  False
2       False  False  False  False  False  False  False  False  False  False
3       False  False  False  False  False  False  False  False  False  False
4       False  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
284802  False  False  False  False  False  False  False  False  False  False
284803  False  False  False  False  False  False  False  False  False  False
284804  False  False  False  False  False  False  False  False  False  False
284805  False  False  False  False  False  False  False  False  False  False
284806  False  False  False  False  False  False  False  False  False  False

        ...    V21    V22    V23    V24    V25    V26    V27    V28  Amount  \
0       ...  False  False  False  False  False  False  False  False   False
1       ...  False  False  False  False  False  False  False  False   False
2       ...  False  False  False  False  False  False  False  False   False
3       ...  False  False  False  False  False  False  False  False   False
4       ...  False  False  False  False  False  False  False  False   False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
284802  ...  False  False  False  False  False  False  False  False   False
284803  ...  False  False  False  False  False  False  False  False   False
284804  ...  False  False  False  False  False  False  False  False   False
284805  ...  False  False  False  False  False  False  False  False   False
284806  ...  False  False  False  False  False  False  False  False   False

        Class
0       False
1       False
2       False
3       False
4       False
...       ...
284802  False
284803  False
284804  False
284805  False
284806  False

[284807 rows x 31 columns]>

In [21]:
# distribution of legit transactions and fraudulent transaction
credit_card_data['class'].value_counts()

KeyError: ignored

In [22]:
# distribution of legit transactions and fraudulent transaction
credit_card_data['class'].value_counts()

KeyError: ignored

In [23]:
# distribution of legit transactions and fraudulent transaction
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is highly unblanced

0->Normal Transaction
1-> fraudulent Transaction

In [24]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
# legit and fraud is Panda series datatype
fraud = credit_card_data[credit_card_data.Class == 1]

In [25]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [26]:
#statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [27]:
 fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [28]:
 # comare the values for both transections
 credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Buid a sample dataset containing similar distribution of normal trabsactions and fraudulent Transections

Number of Fraudulent Transactions->492

In [29]:
 legit_sample = legit.sample1(n= 492)

AttributeError: ignored

In [32]:
legit_sample = legit.sample(n= 492)

In [33]:
 Concatenating two DataFrames

SyntaxError: ignored

 Concatenating two DataFrames

In [34]:
  new_dataset = pd.concat([legit_sample,fraud],axis = 0)

In [35]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
272030,164878.0,2.015783,0.104244,-1.830064,0.355767,0.337155,-1.020142,0.163267,-0.218308,0.387549,...,0.230140,0.770189,-0.079115,-0.405565,0.253917,-0.101472,-0.010173,-0.043150,14.29,0
146335,87616.0,1.974364,-0.388903,-2.801592,-1.152844,1.460662,0.579483,0.372566,0.182079,0.316463,...,0.404278,1.404522,-0.004893,-0.488758,0.248372,1.149818,-0.095368,-0.122314,1.01,0
201700,133997.0,0.276797,1.153321,0.140114,1.186947,0.514968,-0.476863,0.732327,-0.190412,-0.767250,...,-0.187020,-0.339970,0.158458,1.042610,-1.117726,0.495745,0.215391,0.244158,7.92,0
24799,33388.0,1.291987,0.116532,-0.451977,0.133746,0.600175,0.680262,-0.219814,0.266643,0.084527,...,-0.337201,-1.027677,-0.051240,-1.786385,0.300068,0.218271,-0.021081,-0.003178,1.29,0
252227,155711.0,-0.446586,1.645575,-1.269729,1.224403,-0.362184,1.587148,-3.199591,-7.859430,-0.868728,...,-3.239043,2.993490,0.219939,-0.444879,-0.220263,-0.248582,0.278412,0.455360,47.00,0

In [37]:
 new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [38]:
  new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93423.745935,-0.194269,-0.002811,0.039512,-0.049550,0.039164,0.052073,0.077954,-0.055076,-0.115684,...,0.008406,-0.034836,0.044939,-0.005584,0.028225,0.009557,-0.037254,0.030647,0.015962,98.369898
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [39]:
print(new_dataset.shape)
print(fraud.shape)
print(legit_sample.shape)

(984, 31)
(492, 31)
(492, 31)

In [47]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [46]:
fraud.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [43]:
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
272030,164878.0,2.015783,0.104244,-1.830064,0.355767,0.337155,-1.020142,0.163267,-0.218308,0.387549,...,0.230140,0.770189,-0.079115,-0.405565,0.253917,-0.101472,-0.010173,-0.043150,14.29,0
146335,87616.0,1.974364,-0.388903,-2.801592,-1.152844,1.460662,0.579483,0.372566,0.182079,0.316463,...,0.404278,1.404522,-0.004893,-0.488758,0.248372,1.149818,-0.095368,-0.122314,1.01,0
201700,133997.0,0.276797,1.153321,0.140114,1.186947,0.514968,-0.476863,0.732327,-0.190412,-0.767250,...,-0.187020,-0.339970,0.158458,1.042610,-1.117726,0.495745,0.215391,0.244158,7.92,0
24799,33388.0,1.291987,0.116532,-0.451977,0.133746,0.600175,0.680262,-0.219814,0.266643,0.084527,...,-0.337201,-1.027677,-0.051240,-1.786385,0.300068,0.218271,-0.021081,-0.003178,1.29,0
252227,155711.0,-0.446586,1.645575,-1.269729,1.224403,-0.362184,1.587148,-3.199591,-7.859430,-0.868728,...,-3.239043,2.993490,0.219939,-0.444879,-0.220263,-0.248582,0.278412,0.455360,47.00,0

In [45]:
print(credit_card_data.shape)

(284807, 31)

Splitting the data into Features and Targets

In [48]:
X = new_dataset.drop(columns = 'Class',axis =1)
Y = new_dataset['Class']

In [49]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
272030  164878.0  2.015783  0.104244 -1.830064  0.355767  0.337155 -1.020142
146335   87616.0  1.974364 -0.388903 -2.801592 -1.152844  1.460662  0.579483
201700  133997.0  0.276797  1.153321  0.140114  1.186947  0.514968 -0.476863
24799    33388.0  1.291987  0.116532 -0.451977  0.133746  0.600175  0.680262
252227  155711.0 -0.446586  1.645575 -1.269729  1.224403 -0.362184  1.587148
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
272030  0.163267 -0.218308  0.387549  ... -0.178014  0.230140  0.770189
146335  0.372566  0.182079  0.316463  ... -0.424701  0.404278  1.404522
201700  0.732327 -0.190412 -0.767250  ...  0.293794 -0.187020 -0.339970
24799  -0.219814  0.266643  0.084527  ... -0.129733 -0.337201 -1.027677
252227 -3.199591 -7.859430 -0.868728  ...  1.764202 -3.239043  2.993490
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
272030 -0.079115 -0.405565  0.253917 -0.101472 -0.010173 -0.043150   14.29
146335 -0.004893 -0.488758  0.248372  1.149818 -0.095368 -0.122314    1.01
201700  0.158458  1.042610 -1.117726  0.495745  0.215391  0.244158    7.92
24799  -0.051240 -1.786385  0.300068  0.218271 -0.021081 -0.003178    1.29
252227  0.219939 -0.444879 -0.220263 -0.248582  0.278412  0.455360   47.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [50]:
print(Y)

272030    0
146335    0
201700    0
24799     0
252227    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data and Testing Data

In [51]:
 X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, stratify, random_state = 2)

SyntaxError: ignored

In [53]:
  X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, stratify = Y, random_state = 2)

In [55]:
print(X.shape,X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Modal Training

Logistic Regression

In [58]:
model = LogisticRegression()

In [61]:

# training the logistic Regression model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

SyntaxError: ignored

Model Evalution

  Accuracy Score

In [65]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [66]:
print('Accuracy on Training data: ', training_data_accuracy)

Accuracy on Training data:  0.9390088945362135

In [67]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [68]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9238578680203046